body 
{
    background: #7fbfe2;
}

#logo
{
    background-color: #485ACF;
    width:100%;
    height: 105px;
    
}
nav ul
{
    background: #485ACF;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}